<html>

<head>
    <meta charset="UTF-8">
    <title>My algorithm VS GDSTR</title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
</head>

<body ng-app="AspiNodesApp" ng-controller="SimulationController">

    <h1>Please, choose simulation parameters and <input type="button" value="click here!" ng-click="startSim()"/></h1>


    <br/>

    <label><input type="checkbox" ng-model="showTheControls" ng-init="showTheControls = true"> Show controls </label>
    <div class = "control-group" ng-show="showTheControls">
        <label for="inputNodeQuantity">Number of nodes:</label>
        <input id="inputNodeQuantity" type="text" ng-model="form.nodeQuantity" required />

        <label for="inputFieldWidth">Field width (m):</label>
        <input id="inputFieldWidth" type="text" ng-model="form.fieldWidth" required />


        <label for="inputFieldHeight">Field height (m):</label>
        <input id="inputFieldHeight" type="text" ng-model="form.fieldHeight" required />

        <label for="inputFieldMaxRange">Maximum range (m):</label>
        <input id="inputFieldMaxRange" type="text" ng-model="form.fieldMaxRange" required/>

        <label for="inputFieldMinRange">Minimum range (m):</label>
        <input id="inputFieldMinRange" type="text" ng-model="form.fieldMinRange" required/>
    </div>

    <label ng-show = "false"><input type="checkbox"  ng-model="form.showTheImage"> Show visualization </label>


    <script src="libs/http_ajax.googleapis.com_ajax_libs_angularjs_1.2.23_angular.js"></script>
    <script src="libs/http_d3js.org_d3.v3.js" charset="utf-8"></script>
    <script src="app.js"></script>
</body>

</html>
